In [0]:
%sql
use catalog jpm;
create schema if not exists subro;
use schema subro;

In [0]:
df=spark.read.csv("/Volumes/jpm/naval/csv/1000_richest_people_in_the_world.csv",header=True,inferSchema=True)

df1=df.withColumnRenamed("Name","name")\
    .withColumnRenamed("Net Worth (in billions)","nw_in_Bn")


df1.write.mode("overwrite").saveAsTable("jpm.subro.aamir_logaan")

In [0]:
%sql
select * from jpm.subro.aamir_logaan limit 10;